.mealCard {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: #fff;
}

.selected {
    transform: translateX(10px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
